<header class="bg-gray-800 text-white">
  <div class="container mx-auto px-4 py-2 flex justify-between items-center">
    
    <!-- Logo -->
    <a href="#" class="flex items-center space-x-2">
    
       <img src="/images/adx_logo.png" class="h-12 me-3" alt="FlowBite Logo" />
    </a>

    <!-- Navigation Links -->
    <nav class="hidden md:block">
      <ul class="flex space-x-6">
        <li><a href="#" class="hover:text-blue-400">Home</a></li>
        <li><a href="#" class="hover:text-blue-400">About</a></li>
        <li><a href="#" class="hover:text-blue-400">Projects</a></li>
        <li><a href="#" class="hover:text-blue-400">Contact</a></li>
      </ul>
    </nav>
  
  </div>

</header>

